.header {
    background-color: #ee3252;
    color: rgb(243, 240, 240);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}
.header h2 {
    margin: 0;
}
.header p {
    margin: 5px 0 0 0;
    font-size: 18px;
}